extends layout

block content
  form(action='/call', method='POST').form-inline
    .form-group
      .input-group
        input(name='phoneNumber', placeholder='Number to call back from #{user.phoneNumber}').form-control
        span.input-group-btn
          button(type='submit').btn.btn-default Call

