extends layout

block content
  form(action="/signUp", method="POST", role="form").col-sm-6.col-sm-offset-3
    legend Sign up
    div.form-group
      label Email
      input(type="text", name="email", value=(typeof email === 'undefined')?'':email, required, autofocus).form-control
    div.form-group
      label Password
      input(type="password", name="password", required).form-control
    div.form-group
      label Repeat password
      input(type="password", name="repeatPassword", required).form-control
    div.form-group
      input(type="submit", value="Sign up").btn.btn-primary

